@charset "UTF-8";

:root{
    --main-color-1: #eee;
}
.container{
    width: 1920px;
    margin : 0 auto;
    position: relative;
}

/* header */
.hd{
    background-color: red;
    height: 90px;
}


/* banner */
.banner{
    background-color: pink;
    height: 910px;
}

/* promotion */
.promotion{
    background-color: white;
    height: 860.28px;
}
/* new-item */
.new-item{
    background-color: pink;
    height: 949.09px;
}
/* br-play */
.br-play{
    background-color: white;
    height: 949.09px;
}
/* be-better */
.be-better{
    background-color: pink;
    height: 960.48px;
}
/* benefit */
.benefit{
    background-color: white;
    height: 960.48px;
}
/* map */
.map{
    background-color: pink;
    height: 645px;
}
/* footer */
.ft{
    background-color: black;
    height: 593.17px;
}